# Explore a baseball dataset using Pandas
This is the first day of class. This is also good, clean fun.

Download the dataset [here](http://www.seanlahman.com/baseball-archive/statistics).

`df` means "data frame". It's basically a table.

In [3]:
import pandas as pd

### Open players table

In [4]:
df = pd.read_csv('core/People.csv')
display(df.head(2))

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01

In [5]:
df.columns
columns = ['playerID', 'nameFirst', 'nameLast', 'weight', 'birthYear', 'birthCountry']
players = df[columns]
players.head()

    playerID nameFirst nameLast  weight  birthYear birthCountry
0  aardsda01     David  Aardsma   215.0     1981.0          USA
1  aaronha01      Hank    Aaron   180.0     1934.0          USA
2  aaronto01    Tommie    Aaron   190.0     1939.0          USA
3   aasedo01       Don     Aase   190.0     1954.0          USA
4   abadan01      Andy     Abad   184.0     1972.0          USA

In [6]:
players[(players.nameFirst == 'John') & (players.nameLast == 'Edwards')]

Empty DataFrame
Columns: [playerID, nameFirst, nameLast, weight, birthYear, birthCountry]
Index: []

In [7]:
df = df[['playerID', 'birthCountry']]